<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>User Login</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container mt-4 col-md-4">
            <div th:if="${param.error}" class="alert alert-danger" >
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-warning" >
                You have been logged out.
            </div>
        <div class="card">
            <div class='card-header text-center fs-4'>User Login</div>
            <form class="row g-3 p-4" role="form" method="post" th:action="@{/login}">
                <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Username"
                    >
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder="Password"
                    >
                </div>
                <div class="col-12">
                    <a th:href="@{/register}" class="btn btn-black">Don't have an account already? Register Here.</a>
                    <button type="submit" class="btn btn-secondary">Login</button>
                </div>
            </form>
        </div>
        </div>
    </section>
</main>
</body>
</html>